@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;600&display=swap");

:root {
  --pink: #ea1d63;
  --gray: #adadad;
  --gray-dark: #4a5056;
  --white: white;
  --white-300: #efefef;
  --white-dark: #f6f8fb;
  --bs-gray-dark: #343a40;
  --light-orange: #ffba3d;
}

body {
  background: #fefefe;
  font-family: "Poppins", sans-serif;
}

.logo {
  height: 50px;
}
.logo_box {
  border: solid 1px #edecef;
  background-color: #fff;
  position: relative;
  border-radius: 25px;
  position: relative;
}
.navbar {
  background-color: #fff !important;
  /* padding: 10px 5%; */
  /* box-shadow: 0 2px 40px 0 rgba(0, 0, 0, 0.09); */
}
.header_sec01 {
  justify-content: space-between;
}
.header_sec02 {
  position: relative;
  padding: 25px 0px 25px 300px;
  font-size: 16px !important;
  font-family: "Poppins", "Noto Sans KR", sans-serif;
  /* position: absolute; */
  /* top: 0; */
  /* left: 50%; */
  /* transform: translateX(-50%); */
  z-index: 20;

  display: block;
}
.nav-item {
  padding-left: 1rem;
  /* font-size: 18px; */
  /* padding: 0 4%; */
}
.nav-link {
  color: black;
  /* font-weight: 500; */
}
.nav-link:hover {
  color: var(--pink);
}
.two-menu {
  margin-right: 5%;
  margin-left: 1%;
}
.two-menu .cart {
  color: var(--pink);
}

.input {
  border: none !important;
}
.me-2 {
  margin-right: 0.5rem !important;
  border: none;
}

.search-box {
  position: relative;
  height: 70px;
  width: 50%;
  background: white;
  align-items: center;
  box-shadow: 0 2px 40px 0 rgba(0, 0, 0, 0.09);
  border-radius: 50px;
  font-size: 18px;
  padding: 0 15px;
  min-width: 60%;
}
.search-btn {
  border: none;
  max-width: 180px;
  cursor: pointer;
  width: 22%;
  height: 55px;
  color: #fff;
  font-size: 14px;
  font-weight: 500;
  letter-spacing: normal;
  border-radius: 27.5px;
  box-shadow: inset 0px 5px 10px 0 rgb(53 53 53 / 11%);
  background-image: linear-gradient(to top, #ed1c24, #e0462e);
}
.sec02_li01 {
  transition: transform 1.5s ease, opacity 1s ease;
  transition-delay: 0s;
}

.sec02_li02 {
  transition: transform 1.5s ease, opacity 1s ease;
  transition-delay: 0.1s;
}

.sec02_li03 {
  transition: transform 1.5s ease, opacity 1s ease;
  transition-delay: 0.2s;
}

.sec02_li04 {
  transition: transform 1.5s ease, opacity 1s ease;
  transition-delay: 0.3s;
}

.sec02_li05 {
  transition: transform 1.5s ease, opacity 1s ease;
  transition-delay: 0.4s;
}

.sec02_li06 {
  transition: transform 1.5s ease, opacity 1s ease;
  transition-delay: 0.5s;
}
.sec2-search-btn {
  border: none;
  max-width: 180px;
  cursor: pointer;
  width: 35%;
  height: 45px;
  color: #fff;
  font-size: 14px;
  font-weight: 500;
  letter-spacing: normal;
  border-radius: 27.5px;
  box-shadow: inset 0px 5px 10px 0 rgb(53 53 53 / 11%);
  background-image: linear-gradient(to top, #ed1c24, #e0462e);
}
.sec2-more-btn {
  background-color: white;
  font-family: "Poppins", sans-serif;
  font-size: 14px;
  border: solid 1px rgba(224, 223, 226, 0.6);
  max-width: 180px;
  cursor: pointer;
  width: 35%;
  height: 45px;
  font-size: 14px;
  font-weight: 500;
  letter-spacing: normal;
  border-radius: 27.5px;
}
.sec2-pnas-list {
  border: none;
  /* max-width: 180px; */
  cursor: pointer;
  width: 48%;
  height: 65px;
  background-color: #f9f9f9;
  font-size: 16px;
  font-weight: 300 !important;
  letter-spacing: normal;
  border-radius: 30px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  box-shadow: inset 0px 5px 10px 0 rgba(138, 138, 138, 0.11);
  font-family: "Poppins", "Noto Sans KR", sans-serif;
  padding-left: 30px;
  padding-right: 30px;
}
.qna_list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
}
.sec1-item {
  flex-direction: column;
  display: flex;
  justify-content: center;
}
.sec1 {
  padding: 5%;
  /* display: flex; */
  justify-content: center;
}
.sec2 {
  padding-left: 14%;
  padding-right: 14%;
  display: flex;
  justify-content: center;
  transition: none;
}
.sec2 .hover {
  transition: all 0.7s;
}
.q-sec {
  display: d-flex !important;
  justify-content: space-between;
}
.qnas {
  min-width: 70% !important;
  /* display: flex; */
  /* justify-content: space-between; */
  position: relative;
  height: 700px;
  width: 50%;
  background: white;
  align-items: center;
  box-shadow: 0 2px 40px 0 rgba(0, 0, 0, 0.09);
  border-radius: 50px;
  font-size: 18px;
  padding: 0 15px;
  min-width: 80%;
}
@font-face {
  font-family: "Binggrae-Bold";
  src: url("../fonts/Binggrae-Bold.ttf");
  font-weight: normal;
  font-style: normal;
}
.cyber_box1 {
  background: #f9f9f9 url(../img/sec04_backimg03.png) no-repeat center right /
    cover;
  width: 50%;
  padding: 40px 43px;
  cursor: pointer;
  border-radius: 35px;
}
.cyber_box2 {
  background: #f9f9f9 url(../img/sec04_backimg04.png) no-repeat center right /
    cover;
  width: 50%;
  padding: 40px 43px;
  cursor: pointer;
  border-radius: 35px;
}
.email_box {
  background: #f9f9f9 url(../img/sec04_backimg01.png) no-repeat center right /
    cover;
  width: 48%;
  /* min-width: -webkit-fill-available; */
  padding: 40px 43px;
  cursor: pointer;
  border-radius: 35px;
}
.call_box {
  background: #f9f9f9 url(../img/sec04_backimg02.png) no-repeat center right /
    cover;
  width: 48%;
  /* min-width: -webkit-fill-available; */
  padding: 40px 43px;
  cursor: pointer;
  border-radius: 35px;
}
.sec2_items {
  font-family: "Poppins", "Noto Sans KR", sans-serif;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 43px;
  border-radius: 21px;
  color: #1f1f1f;
  font-size: 16px;
  background-color: #f9f9f9;
  margin-top: 12px;
  transition: none;
}

.sec_tit {
  font-family: "Binggrae-Bold";
  display: flex;
  justify-content: center;
  padding-bottom: 3%;
}
.sec2_tit {
  font-family: "Binggrae-Bold";
  /* font-size: 32px; */
}
.sec2_p {
  font-family: "Poppins", "Noto Sans KR", sans-serif;
  font-size: 16px;
  /* line-height: 1.63; */
}

/* footer*/
.footer {
  background-color: #1f1f1f;
}

.custom-badge {
  padding: 10%;
  right: -15%;
  top: 30%;
}

.cart-item {
  padding: 3%;
}

.cart-item img {
  width: 100%;
  height: 16vh;
  border-radius: 3%;
  object-fit: cover;
}

.custom-btn:hover {
  background: var(--pink);
  color: white;
  border: 1px solid white;
}

.custom-btn-fill:hover {
  background: var(--pink);
  color: white;
}

.custom-btn {
  cursor: pointer;
  padding: 3% 12%;
  font-size: 20px;
  color: var(--pink);
  background: none;
  border: 1px solid var(--pink);
}

.custom-btn-fill {
  padding: 3% 12%;
  cursor: pointer;
  font-size: 20px;
  text-transform: uppercase;
  color: var(--white);
  background: var(--pink);
  border: 1px solid var(--white);
}

.help-text h5 {
  font-size: 22px;
  text-align: right;
  padding-top: 2%;
  font-weight: 300;
  letter-spacing: 1px;
}

.text-style-5 {
  font-size: 20px;
  font-weight: 400;
  color: var(--bs-gray-dark);
}

.text-style-5 {
  font-size: 20px;
  font-weight: 400;
  color: var(--bs-gray-dark);
}

.text-style-4 {
  font-size: 20px;
  font-weight: 400;
  color: var(--bs-gray-dark);
}

.text-style-3 {
  font-size: 17px;
  font-weight: 400;
  color: var(--bs-gray-dark);
}

.text-style-2 {
  font-size: 17px;
  color: gray;
  font-weight: 400;
}

.text-style-1 {
  font-weight: 400;
  font-size: 18px;
  color: var(--bs-gray-dark);
}

.items-body {
  border-radius: 1%;
  background: var(--white);
  box-shadow: 0 2px 40px 0 rgba(0, 0, 0, 0.09);
}

.promo-box {
  padding: 4% 0;
  background: var(--white-dark);
  text-align: center;
}

.promo-box span {
  font-size: 19px;
  color: var(--light-orange);
}

/* .payment {
  padding: 2% 0;
}

.custom-card {
  text-align: center;
  padding: 3%;
  border: 2px solid var(--pink);
  border-radius: 10px;
  color: var(--pink);
}

.custom-card-gray {
  text-align: center;
  padding: 3%;
  border: 2px solid var(--gray);
  border-radius: 10px;
  color: var(--gray);
}

.custom-card:hover {
  color: var(--white) !important;
  background: var(--pink);
}

.custom-card i {
  font-size: 60px;
  color: var(--gray);
}

.custom-card-gray i {
  font-size: 60px;
}

.custom-card h4 {
  font-size: 22px;
  text-transform: uppercase;
}

.custom-card-gray h4 {
  font-size: 22px;
  text-transform: uppercase;
}

.custom-card p {
  padding: 0 5%;
  font-size: 19px;
  color: var(--gray);
}

.custom-card-gray p {
  padding: 0 5%;
  font-size: 19px;
} */

/* .timeline-box {
  padding: 1% 0;
  text-align: center;
}

.timeline-box span {
  cursor: pointer;
  color: var(--gray);
  padding: 5px 0;
  font-size: 18px;
  text-transform: uppercase;
} */

/* .cart-text {
  color: var(--pink) !important;
  font-weight: 400;
  border-bottom: 2px solid var(--pink);
} */

/* .promotion-box {
  padding: 2% 3%;
  text-align: center;
}

.promotion-box h3 {
  font-size: 25px;
  padding: 6% 10%;
}

.promotion-box p {
  font-size: 20px;
  color: gray;
}

.promotion-box h1 {
  font-size: 30px;
  color: var(--pink);
} */
.modal-header {
  border-bottom: none;
}

hr {
  border: 2px dashed;
  border-style: none none dotted;
  background-color: var(--white);
}

.social-icons {
  color: #313437;
  text-align: center;
  padding: 2% 0;
}

.social-icons svg {
  display: inline-block;
  margin: 0 10px;
  padding: 1%;
  width: 45px;
  border: 2px solid var(--white-300);
  height: 45px;
  text-align: center;
  border-radius: 5px;
  line-height: 60px;
}

.wrapper {
  height: 30px;
  min-width: 50px;
  display: flex;
  width: 50%;
  align-items: center;
  justify-content: center;
  border-radius: 20px;
  border: 1px solid var(--gray);
  color: var(--gray);
}
.wrapper span {
  width: 25%;
  text-align: center;
  font-size: 12px;
  font-weight: 600;
  cursor: pointer;
  user-select: none;
}
.wrapper span.num {
  font-size: 12px;
  pointer-events: none;
}

@media (max-width: 425px) {
  .search-box {
    min-width: fit-content;
  }
}

@media (max-width: 576px) {
  .text-style-1 {
    font-size: 14px;
  }
  .text-style-2 {
    font-size: 15px;
  }
  .text-style-3 {
    font-size: 14px;
  }
  .text-style-4 {
    font-size: 17px;
  }

  .timeline-box span {
    font-size: 13px;
  }
}

@media (max-width: 1440px) {
  .search-box {
    /* padding-left: 15%; */
  }
  .nav-item {
    /* padding: 0 1%; */
  }
}

@media (max-width: 1024px) {
  .custom-badge {
    display: none;
  }

  .search-box {
    padding-left: 0;
  }
}
